.addForm{
    width: 500px;
    margin-top: 80px;
}
p{
    color: #000;
}
h5{
    color: #000;
}

.container_one{
    display: flex;
    flex-direction: row;
}

.userAddContainer {
  display: flex;
  justify-content: center;
}

.container_two {
  display: flex;
  flex-direction: row;
  justify-content: center;
}